body{
    background-size:cover;
}
#heading{
    width:100%;
    margin:0px;
    font-size:23px;
}
#note{
    color:chartreuse;
}
canvas{
    box-shadow:3px 3px 3px blue;
    border-radius:10px;
    border:10px dashed crimson;
}
#text_box{
    width:30%;
}